<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!--js sha-2 js 読み込み-->
    <script src="./public/assets/jsSHA-master/src/sha256.js"></script>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 本番バージョン、サイズと速度のために最適化されています >
      <script src="https://cdn.jsdelivr.net/npm/vue"></script-->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

      <title>sign_up</title>
  </head>
  <body>

    <div id="sign_up_form">
      <input type="text" name="mail" v-model="mail" placeholder="mail">
      {{ mail }}
      <br>
      <input type="password" name="password" v-model="password" placeholder="password">
      <!--パスワードの確認を作成予定-->
      {{ password }}
      <button v-on:click="button_sign_up">登録</button>
    </div>

    <script>
//sign_up
var view_oauth_user = new Vue({
  el: "#sign_up_form",
  data:{
    mail:"",
    password:"",
  },
  methods: {
    button_sign_up() {
      //sha-2暗号化
      var pass = view_oauth_user.password;
      var shaObj = new jsSHA("SHA-256", "TEXT");
      shaObj.update(pass);
      var passhash = shaObj.getHash("HEX");
      //alert(passhash);
      //リクエスト送受信部分
      axios.post('http://localhost:4567/sign_up', JSON.stringify({
        mail: view_oauth_user.mail,
        password: passhash,
      }))
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  }
})
    </script>
  </body>
  <erTL Starbucks_Jhtml>
